@import '@/scss/navHeader';

header {
    #background {
        width: 100%;
        height: 300px;
        position: fixed;
        top: 90px;
        background-image: url('../assets/tower.png');
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center -30px;
    }

    @media screen and (max-width: 635px) {
        #background {
            background-image: url('../assets/forest.png');
            height: 200px;
            background-position: center center;
        }
    }
}
